<main class="flex-grow-1 w-100 d-flex flex-column">
  <h2 class="subtitle mt-4 mb-2 text-center">SHOPPING</h2>
  {{#if message}}
    <h3
      class="bg-secondary text-danger text-center m-auto mt-3 mb-3 p-2"
      style="width: 300px;"
      style="height: 100px;"
    >No orders yet!</h3>
  {{else}}

    <section
      class="d-flex flex-column justify-content-center align-items-center m-auto mt-2 mb-4 bg-secondary"
      style="width: auto;"
    >

      {{#each orders}}
        <table class="table table-dark table-striped w-100 m-0">
          <thead class="bg-warning">
            <tr class="text-warning fs-4">
              <th scope="col">{{this.product_id.title}}</th>
              <th scope="col">Quantity</th>
              <th scope="col">Price</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><img
                  src="{{this.product_id.photo}}"
                  style="height: 150px; width: 200px"
                  class="object-fit-cover rounded-3"
                  alt="{{this.product_id.title}}"
                /></td>
              <td class="align-middle text-center">
                <div class="d-flex justify-content-center align-items-center">
                  <button
                    id="decrement_{{this._id}}"
                    class="btn btn-success btn-sm decrement"
                  >-</button>
                  <span
                    id="quantity_{{this._id}}"
                    class="mx-2"
                  >{{this.quantity}}</span>
                  <button
                    id="increment_{{this._id}}"
                    class="btn btn-success btn-sm increment"
                  >+</button>
                </div>
              </td>
              <td
                class="align-middle text-center"
              >${{this.product_id.price}}</td>
              <td class="align-middle text-center"><span
                  class="d-flex justify-content-center align-items-center m-0 p-2"
                  style="width: 60px;"
                >
                  <button
                    id={{this._id}}
                    class="btn btn-danger btnDelete m-auto"
                  >🗑</button>
                </span></td>
            </tr>
          </tbody>
        </table>
      {{/each}}

    </section>
    <span class="w-100 d-flex justify-content-center">
      {{#if prev}}
        <a
          class="btn btn-danger fs-5 m-4 mt-0"
          href="/?title={{filter}}&page={{prev}}"
        >PREV</a>
      {{/if}}
      {{#if next}}
        <a
          class="btn btn-danger fs-5 m-4 mt-0"
          href="/?title={{filter}}&page={{next}}"
        >NEXT</a>
      {{/if}}
    </span>
    {{#if orders}}
      <button
        id="confirm"
        type="button"
        class="m-auto btn btn-success mt-3 mb-5"
      >Confirm purchase ></button>
    {{/if}}
  {{/if}}
</main>
<script src="/scripts/orders.js"></script>